body {
      font-family: Arial, sans-serif;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .kalkulator {
      background: white;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      width: 270px;
      text-align: center;
    }

    .nama-kamu {
      color: #808080;
      font-weight: 600;
      margin-bottom: 10px;
      font-size: 14px;
    }

    .tampilan {
      width: 95%;
      height: 45px;
      border: 2px solid #ddd;
      border-radius: 10px;
      font-size: 18px;
      padding: 5px 10px;
      text-align: right;
      margin-bottom: 15px;
      outline: none;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    td {
      padding: 5px;
    }

    .tombol {
      width: 100%;
      height: 45px;
      font-size: 18px;
      border: none;
      border-radius: 10px;
      background: #f3f3f3;
      transition: 0.2s;
    }

    .operator {
      background: #d7ebff;
      color: #808080;
    }

    .sama-dengan {
      background: #ff5b5b;
      color: #fff;
    }
    .reset {
      width: 100%;
      height: 45px;
      background: #8e8e8e;
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 10px;
      margin-top: 10px;
      transition: 0.2s;
    }