body {
  text-align: center;
  background-color: #eaf1f8;
  font-family: Arial, sans-serif;
}

h2 {
  font-weight: bold;
  letter-spacing: 1px;
}

.kontainer {
  width: 120px;
  background: #222;
  border-radius: 30px;
  margin: 20px auto;
  padding: 15px;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4);
}

.lampu {
  width: 70px;
  height: 70px;
  background: #333;
  border-radius: 50%;
  margin: 10px auto;
  transition: 0.3s;
  box-shadow: inset 0 0 10px #000;
}

#lampu-merah.nyala {
  background: red;
  box-shadow: 0 0 30px red;
}

#lampu-kuning.nyala {
  background: yellow;
  box-shadow: 0 0 30px yellow;
}

#lampu-hijau.nyala {
  background: limegreen;
  box-shadow: 0 0 30px limegreen;
}

.tombol {
  margin-top: 10px;
}

button {
  background: #eef3f6;
  border: 2px solid #ccd5db;
  border-radius: 10px;
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #dbe5ec;
}

#status {
  margin-top: 15px;
  font-weight: bold;
}
